.about__section {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about {
    width: 80vw;
}

.about__top {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.about_top_about {
    font-size: 20px;
    line-height: 50px;
    text-align: justify;
}

.about_top_about h3 {
    color: #DC143C;
}

.about__down {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    padding: 20px;
    gap: 40px;
    /* border: 1px solid black; */
}

.about__down_img {
    width: 20vw;
    /* border: 1px solid black; */
    display: flex;
    padding: 0px;
}

.about__down_img img {
    width: 250px;
    height: 300px;
    /* border-radius: 5px 5px 10px rgb(192, 185, 185); */
    box-shadow: 5px 5px 30px rgb(145, 140, 140);
    ;
}

.about__down_text_sec {
    width: 60vw;
    /* border: 1px solid black; */

}

.about__down_text_sec h2 {
    font-size: 25px;
    line-height: 60px;
    text-align: justify;
}

.about__down_text_sec span {
    color: #DC143C;
}

.about__down_text_sec p {
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}