.footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 20px;
}

.footer__section {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer__box {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer__box span {
    color: var(--primery_color);
}